<!DOCTYPE html>
<html>
<head>
  <title>News Reader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if signed_in? %>
      Signed-in as <%= current_user.email %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
